check2.json
[{"id":"4c28cddd.407044","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"24fe4d71.c95f22","type":"http in","z":"4c28cddd.407044","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["bc95854b.f6b778","f2cdc4b8.c6cf78"]]},{"id":"f2cdc4b8.c6cf78","type":"function","z":"4c28cddd.407044","name":"return status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["8c9b133.589d7f","9bafa0d8.5334f"]]},{"id":"bc95854b.f6b778","type":"function","z":"4c28cddd.407044","name":"SET to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["fb608bb.2c74f78"]]},{"id":"8c9b133.589d7f","type":"http response","z":"4c28cddd.407044","name":"","statusCode":"","headers":{},"x":490,"y":280,"wires":[]},{"id":"9bafa0d8.5334f","type":"debug","z":"4c28cddd.407044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":380,"wires":[]},{"id":"fb608bb.2c74f78","type":"rpi-gpio out","z":"4c28cddd.407044","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":440,"y":200,"wires":[]},{"id":"a7527ecf.c4367","type":"http in","z":"4c28cddd.407044","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["faa41ac1.2c8178","a46e3b46.633928"]]},{"id":"faa41ac1.2c8178","type":"function","z":"4c28cddd.407044","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["fb608bb.2c74f78"]]},{"id":"a46e3b46.633928","type":"function","z":"4c28cddd.407044","name":"return status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["8c9b133.589d7f","9bafa0d8.5334f"]]}]