check1.json
[{"id":"e1186251.a2053","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7c2ab14.922a75","type":"http in","z":"e1186251.a2053","name":"GPIO","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["d2214f9a.015ce"]]},{"id":"c9d4d0c3.7359","type":"debug","z":"e1186251.a2053","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":200,"wires":[]},{"id":"ad8d00ec.6d287","type":"rpi-gpio in","z":"e1186251.a2053","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":true,"x":140,"y":220,"wires":[["1cbb129d.e5590d"]]},{"id":"1cbb129d.e5590d","type":"function","z":"e1186251.a2053","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["c9d4d0c3.7359"]]},{"id":"d2214f9a.015ce","type":"function","z":"e1186251.a2053","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["b75d1a9.ad8d3e8","c9d4d0c3.7359"]]},{"id":"b75d1a9.ad8d3e8","type":"http response","z":"e1186251.a2053","name":"","statusCode":"","headers":{},"x":460,"y":120,"wires":[]}]